.section-2 {
  margin-top: 140px;
  margin-bottom: 70px;
  height: 600px;
  width: 100%;
}

.section2-title h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.section2-title p {
  text-align: center;
  font-size: 18px;
  color: rgb(137, 137, 137);
}

.services-container {
  width: 50%;
  height: 400px;

  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-weight: 600;
}

.services-container h1 {
  font-size: 18px;
  text-align: center;
}

.services img {
  height: 200px;
  transition: opacity 0.15s;
}

.services img:hover {
  opacity: 0.8;
}

.services img:active {
  opacity: 0.5;
}

.services {
  padding: 15px;
}
